<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
   
</head>
<body>
    <div class="main-content">
        <center>{{>header}}</center>
        <center><image src="/img/3.png" width=40% height=40%></image><br></center>
    <center><p>Enter the location to get Weather Status</p></center>
    <center>
        <form>
        <input type="text" placeholder="Enter the Location">
        <button>Search</button>
        <p id ="message-1"></p>
        <p id="message-2"></p>
    </form>
    </center>
    </div>
    
    {{>footer}}
     <script src="/js/app.js"></script>
</body>
</html>